/* Navbar */
nav {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #2d3748, #1a202c);
    padding: 8px 16px; /* Reducimos el tamaño */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú desplegable */
nav .navbar-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2d3748;
    color: #edf2f7;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 50;
}

/* Mostrar el menú cuando se activa */
nav .navbar-dropdown.show {
    display: block;
}

/* Estilos para los enlaces del menú */
nav .navbar-dropdown a {
    color: #edf2f7;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

nav .navbar-dropdown a:hover {
    background-color: #3182ce;
    color: rgb(206, 14, 14);
}

/* Estilo de los enlaces de navegación */
nav .items-center a {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent;
    color: #0d2a47;
    font-weight: 500;
    text-transform: uppercase; /* Mayúsculas para los enlaces */
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav .items-center a:hover {
    background-color: #3182ce;
    color: rgb(160, 17, 17);
}

/* Estilos en pantallas móviles */
@media (max-width: 768px) {
    nav .max-w-screen-xl {
        flex-direction: column;
        gap: 15px;
    }

    nav .items-center {
        flex-direction: column;
    }

    nav .items-center a {
        padding: 12px 20px;
        text-align: center;
    }
}
