<div>
    <h1>How I feel about Angular</h1>
    <article>
        <p>El mundo del cómic asiático es fascinante, y una de las cosas que más me llama la atención es la diversidad
            de estilos y formatos que existen. Por ejemplo, aunque a menudo se agrupen bajo la etiqueta de "manga",
            existen diferencias clave entre las historietas de Japón, Corea del Sur y China.</p>

        <p>En Japón, los cómics se conocen como manga. Suelen tener un estilo de dibujo muy característico, con ojos
            grandes y expresivos, y tradicionalmente se leen de derecha a izquierda. Aunque hay mangas a color, el
            blanco y negro sigue siendo muy popular.</p>

        <p>En Corea del Sur, los cómics se llaman manhwa. Comparten algunas similitudes con el manga, pero tienen un
            estilo de dibujo propio, a menudo más realista. Se leen de izquierda a derecha, como los cómics
            occidentales, y cada vez es más común encontrarlos a todo color, especialmente en formato digital.</p>

        <p>Por último, en China tenemos el manhua. El estilo de dibujo del manhua es muy diverso y puede variar mucho
            según el autor y la región de China. La dirección de lectura también puede variar, pero generalmente es de
            izquierda a derecha. El color es la norma en el manhua.</p>

        <p>Es interesante ver cómo cada uno de estos estilos ha evolucionado con el tiempo, influyéndose mutuamente y
            adaptándose a las nuevas tecnologías. Por ejemplo, el formato digital de los webtoons, que se leen
            verticalmente, es cada vez más popular en Corea del Sur y China.</p>

        <p>En resumen, aunque todos sean cómics, manga, manhwa y manhua tienen características únicas que los
            distinguen. Explorar estas diferencias es una excelente manera de apreciar la riqueza y diversidad del cómic
            asiático.</p>
    </article>
    @defer (on viewport) {
    <app-practica10-aux />
    } @placeholder {
    <p>Future comments</p>
    } @loading (minimum 2s) {
    <p>Loading comments...</p>
    }
</div>