<div class="page-container" [ngClass]="{ 'full-height': showContent }">
	<!-- Mostrar el contenido (login) cuando showContent sea true -->
	<app-content *ngIf="showContent" (contentLoaded)="onShowContent()"></app-content>
  
	<!-- Mostrar el navbar solo cuando showNavbar sea true -->
	<app-navbar *ngIf="showNavbar" (logout)="onLogout()"></app-navbar>
  
	<!-- Mostrar el contenido principal y el footer si showContent es false -->
	<div *ngIf="!showContent" class="content-wrapper">
	  <app-sidebar *ngIf="showMainContent"></app-sidebar>
	  
	  <div class="content-area">
		<app-breadcrumb *ngIf="showMainContent"></app-breadcrumb>
		
		<router-outlet></router-outlet>
		<app-page-container></app-page-container>
		<app-footer></app-footer>
	  </div>
	</div>
	
	<!-- Mostrar solo el footer cuando showContent es true -->
	<app-footer *ngIf="showContent"></app-footer>
  </div>
  