<div class="page-container">
	<!-- Mostrar el componente de contenido cuando showContent sea true -->
	<app-content *ngIf="showContent" (contentLoaded)="onShowContent()"></app-content>

	<!-- Mostrar el navbar solo cuando showNavbar sea true -->
	<app-navbar *ngIf="showNavbar" (logout)="onLogout()"></app-navbar>

	<div class="content-wrapper">
		<!-- Mostrar el sidebar y breadcrumb solo cuando showMainContent sea true -->
		<app-sidebar *ngIf="showMainContent"></app-sidebar>

		<div class="content-area">
			<app-breadcrumb *ngIf="showMainContent"></app-breadcrumb>

			<!-- Aquí se cargarán los componentes de las rutas -->
			<router-outlet></router-outlet>
			<app-page-container></app-page-container>
			<app-footer></app-footer>
		</div>
	</div>
</div>