<div class="page-container" [ngClass]="{ 'full-height': !showContent, 'logged-out': showContent }">
	<!-- Mostrar el contenido (login) cuando showContent sea true -->
	<app-content *ngIf="showContent" (contentLoaded)="onShowContent()"></app-content>

	<!-- Mostrar el navbar solo cuando showNavbar sea true -->
	<app-navbar *ngIf="showNavbar" (logout)="onLogout()"
		(ejercicioSeleccionado)="onEjercicioSeleccionado($event)"></app-navbar>

	<!-- Mostrar el contenido principal y el footer si showContent es false -->
	<div *ngIf="!showContent" class="content-wrapper">
		<app-sidebar *ngIf="showMainContent"></app-sidebar>

		<div class="content-area">
			<app-breadcrumb *ngIf="showMainContent"></app-breadcrumb>

			<div *ngIf="ejercicioSeleccionado">
				<!-- Mostrar el ejercicio correspondiente usando ngSwitch -->
				<ng-container [ngSwitch]="ejercicioSeleccionado">
					<app-practica1 *ngSwitchCase="'Ejercicio 1'"></app-practica1>
					<app-practica2 *ngSwitchCase="'Ejercicio 2'"></app-practica2>
					<!-- Agregar más ejercicios aquí -->
					<div *ngSwitchDefault>
						<p>Selecciona un ejercicio para mostrar el contenido.</p>
					</div>
				</ng-container>
			</div>

			<router-outlet></router-outlet>
			<app-footer></app-footer>
		</div>
	</div>

	<!-- Mostrar solo el footer cuando showContent es true -->
	<app-footer *ngIf="showContent"></app-footer>
</div>